@import "colors.css";

* {
  font-family: "Roboto Condensed Light", "EnvyCodeR Nerd Font", sans-serif;
  font-size: 10px;
  border: none;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: @on_surface;
}

#window {
  background-color: @background;
  padding: 0 2px;
  border-radius: 10px;
  margin: 0;
  font-size: 10px;
}

/* 1. Estilo base para círculos de 20px */
#clock,
#cpu,
#memory,
#temperature,
#wireplumber,
#tray,
#bluetooth,
#custom-language,
#custom-menu,
#custom-power,
#custom-opera,
#custom-pcmanfm,
#custom-thunar,
#custom-firefox,
#custom-thunderbird,
#custom-TelegramDesktop,
#custom-mousepad,
#custom-terminal,
#custom-calculadora,
#custom-localsend,
#workspaces button,
#taskbar button,
#keyboard-state label.locked {
  margin: 1px 1px;
  background-color: @background;
  color: @on_surface;
  border: 1px solid rgba(100, 114, 125, 0.2);
  min-width: 20px;
  min-height: 20px;
  padding: 0;
  border-radius: 100%;
  font-size: 10px;
  transition: all 0.2s ease-in-out;
}

/* 2. Tamaño de iconos aumentado (16px) */
#custom-menu,
#custom-power,
#custom-opera,
#custom-firefox,
#custom-terminal,
#custom-pcmanfm,
#custom-thunar,
#custom-thunderbird,
#custom-TelegramDesktop,
#custom-mousepad,
#custom-calculadora,
#custom-localsend,
#taskbar button {
  font-size: 16px;
}

/* 3. Excepciones de tamaño (Píldoras) */
#clock,
#custom-language {
  padding: 0 5px;
  min-width: 30px;
  border-radius: 8px;
  font-size: 10px;
}

/* 4. Keyboard State */
#keyboard-state label {
  font-size: 0px;
}

#keyboard-state label.locked {
  font-size: 10px;
  color: @primary;
}

/* 5. Estados del Taskbar (Única sección) */
#taskbar {
  padding: 0 10px;
}

#taskbar button {
  border: 1px solid rgba(100, 114, 125, 0.4);
}

#taskbar button.focused {
  background-color: @primary;
  color: @background;
  border: 1px solid @primary;
  box-shadow: 0 0 6px @primary;
}

#taskbar button.active {
  border: 1px solid @primary;
  background-color: rgba(122, 162, 247, 0.15);
}

#taskbar button.minimized {
  opacity: 0.4;
  background-color: transparent;
  border: 1px dashed rgba(100, 114, 125, 0.5);
}

/* 6. Workspaces activo */
#workspaces button.active {
  background-color: @primary;
  color: @background;
}

/* 7. Efecto HOVER global */
#clock:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#wireplumber:hover,
#tray:hover,
#bluetooth:hover,
#custom-language:hover,
#custom-menu:hover,
#custom-power:hover,
#custom-opera:hover,
#custom-pcmanfm:hover,
#custom-thunar:hover,
#custom-firefox:hover,
#custom-thunderbird:hover,
#custom-TelegramDesktop:hover,
#custom-mousepad:hover,
#custom-terminal:hover,
#custom-calculadora:hover,
#custom-localsend:hover,
#workspaces button:hover,
#taskbar button:hover,
#keyboard-state label.locked:hover {
  background-color: @primary;
  color: @background;
  box-shadow: 0 0 6px @primary;
}
