* {
  bg0     : #131318CC;
  bg1     : #201f25CC;
  bg2     : #47464f;
  bg3     : #928f99;
  fg0     : #e5e1e9;
  accent  : #c4c0ff;
  font: "Iosevka Nerd Font Medium 11";
  background-color : transparent;
  text-color       : @fg0;
  margin: 0;
  padding: 0; 
  spacing: 0;
}

window {
  location : northwest;
  width    : 280px;
  x-offset : 4px;
  y-offset : 26px;
  background-color: @bg0;
  border: 1px; border-color: @bg3; border-radius: 6px;
}

inputbar {
  spacing: 8px; padding: 4px 8px;
  background-color: @bg1;
  children: [ icon-search, entry ];
}

icon-search {
  expand: false; filename: "search-symbolic"; size: 14px;
  vertical-align: 0.5;
}

listview {
  padding: 4px 0px; lines: 12; columns: 1;
  scrollbar: true; fixed-height: false; dynamic: true;
}

element {
  padding: 4px 8px; spacing: 8px;
}

element selected {
  background-color: @accent;
  text-color: @bg0;
  border-radius: 4px;
}

element-icon { size: 1.0em; }

element-text {
  text-color: inherit; vertical-align: 0.5;
}
