[Desktop Entry]
Name=Game 1139939140494971051
Exec=/tmp/.mount_ShadpsHhAlCk/usr/bin/shadps4 %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-1139939140494971051;
