[Desktop Entry]
Type=Application
Version=1.0
Name=Mozilla Firefox (Private)
Name[es_AR]=Firefox (Privada)
GenericName=Web Browser
GenericName[es_AR]=Navegador web
Comment=Browse the Web in a Private Window
Comment[es_AR]=Navegar en una ventana privada
Exec=firefox --private-window %u
Icon=firefox
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
Keywords=web;browser;internet;private;privacy;