[Desktop Entry]
Type=Application
Version=1.0
Name=Hollow Knight Silksong
GenericName=Hollow Knight Silksong
Comment=Hollow Knight Silksong
Icon=/opt/GOG_Games/Hollow_Knight_Silksong/support/icon.png
Exec=gamemoderun /opt/GOG_Games/Hollow_Knight_Silksong/start.sh
Path=/opt/GOG_Games/Hollow_Knight_Silksong
Terminal=false
Categories=Game;ActionGame;
Keywords=hollow;knight;silksong;metroidvania;
