[Desktop Entry]
Type=Application
Version=1.0
Name=Hollow Knight
Comment=Hollow Knight
Icon=/opt/GOG_Games/Hollow_Knight/support/icon.png
Exec=gamemoderun /opt/GOG_Games/Hollow_Knight/start.sh
Path=/opt/GOG_Games/Hollow_Knight
Terminal=false
Categories=Game;ActionGame;
Keywords=hollow;knight;metroidvania;