[Desktop Entry]
Type=Application
Name=LocalSend
Comment=Share files between nearby devices
Exec=/opt/LocalSend-1.18.0/localsend_app
Icon=/home/eleazar/.local/share/icons/org.localsend.localsend_app.png
Terminal=false
Categories=Network;FileTransfer;
StartupWMClass=localsend_app
