[Desktop Entry]
Name=RPCS3
Comment=Emulador de PlayStation 3 (optimizado Ryzen 5700G)
Exec=/home/eleazar/Documentos/Juegos/RPCS3/run_rpcs3.sh %F
Icon=/home/eleazar/Documentos/Juegos/RPCS3/EMULATOR/rpcs3.png
Type=Application
Categories=Games;
Terminal=false
