[Desktop Entry]
Name=RPCS3
Exec=/home/eleazar/Documentos/Juegos/RPCS3/EMULATOR/rpcs3-v0.0.41-19558-dc06cac0_linux64.AppImage
Icon=/home/eleazar/Documentos/Juegos/RPCS3/EMULATOR/rpcs3.png
Type=Application
Categories=Games;
Terminal=false
Comment=Emulador de PlayStation 3
