[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec="/home/eleazar/Documentos/Juegos/RPCS3/EMULATOR/rpcs3-v0.0.40-19248-7dce197e_linux64.AppImage" 
Name=RPCS3
Categories=Application;Game
Comment=RPCS3
Icon=/home/eleazar/.cache/rpcs3/shortcut.png
